*{
    font-family: "Inconsolata", sans-serif;
    box-sizing: border-box;
   
}
/*.col-md-6 {
    margin-top: 50px;
    margin-bottom: 0px;
}*/

h1 {
    text-align: center;
    margin: 0px;
}
p {
    margin-top: 0px;
    text-align: center;
}
.dPadrao {
    margin-top: 30px;
    margin-bottom: 600px;
    padding-top: 70px;
    display: block;
}
.dPadrao > p {
    font-size: 20px;
}
/*footer {
    margin-top: 125px;
    margin-bottom: 0px;
} 
*/
a {
    padding-top: 0px;
}
ul {
    margin: 0px;
}
.div-sg {
    padding-top: 15px;
}
.link-YF {
    padding-top: 30px;
}
