*{
    font-family: "Inconsolata", sans-serif;
    box-sizing: border-box;
   
}
/*.col-md-6 {
    margin-top: 50px;
    margin-bottom: 0px;
}*/

h1 {
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
p {
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}
.dPadrao {
    margin-top: 10px;
    margin-bottom: 600px;
   
 
}
.dPadrao > p {
    font-size: 20px;
}
/*footer {
    margin-top: 125px;
    margin-bottom: 0px;
} 
*/
a {
    padding-top: 0px;
}
ul {
    margin: 0px;
}
.div-sg {
    padding-top: 15px;
}
.link-YF {
    padding-top: 30px;
}

#Contact {
    margin-bottom: 0px;
}

#logoFera {
    padding-top: 10px;
}
.nav-link {
    font-weight: bold;
    font-size:  50;
}
.f24px > small, span {
    font-weight: bold;
}
